:visited { 
    color: rgb(204, 255, 0); 
}

a:active { 
    color: rgb(223, 30, 30); 
}
div:hover { 
    color: rgb(98, 0, 255); 
}
.BotaoPadrao{border-radius: 100px;
background: var(--m-3-sys-light-primary, #6750A4);}
